.center {
  text-align: center;
}
.main{
  padding: 30px;
}
video{
  width: 100%;
  min-height: 500px;
}
.hide{
  visibility: hidden;
}
.action{
  text-align: center;
  margin: 30px;
}
.action button{
  padding: 10px 50px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  background: #6dbaed;
}
.action .disabled{
  background: #a7a7a7;
}
.output{
  text-align: center;
}
